* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


form, form input, form button {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 30px;
}


form {
    background-color: #ccc;
    padding-bottom: 30px;
    border-radius: 20px;
}


form input , form button {
    line-height: 35px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 26px;
    border: solid 2px black;
}




div {
    width: 60%;
    float: left;
    margin-left: 20%;
    background-color: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 20px;
    margin-top: 30px;
}

div p {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
}


div a {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}